.booking-main{
    img{
        width: 100%;
    }
    form{
        background-color: #F4F4F4;
        .btn{
            background-color: #275A53;
            color: #F1F6F4;
        }
        input,textarea{
            border: 1px solid #DDDDDD;
        }
    }
    h2,h3{
        color: #16322E;
    }
    p{
        color: #747474;
    }

}