@import '../../../../src/scss/variables.scss' ;


.banner-section{
//   background: linear-gradient(90deg, rgba(10, 8, 41, 0.356) 0%, rgb(59, 59, 59) 35% 100%);
  background-size: cover;
  
  background: url(../../../images/images/Rectangle13.png) no-repeat left top, linear-gradient(#eb01a5, #d13531);

    h2{
        color: $primarytext-clr;
    }
    .search{
        width:25%;
        padding: 5px 0px;
        border-radius: 2px;
        border:1px solid transparent;
        outline:none;   
    }
    .search:focus{
        outline:none;
        border-bottom:1px solid $brandColor;
    }
    .searchbtn{
        color: $primarytext-clr;
        background-color: $brandColor;
        font-size: 16px;
        font-weight: 400;
        margin-left: 2rem;
    }
    .searchbtn:hover{
        background-color: $brandColor2;
    }



}