@import '../../../../src/scss/variables.scss' ;


.banner-section{
    height: 350px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url('../../../images/images/Rectangle13.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h2{
        color: $primarytext-clr;
    }
    .search{
        width:25%;
        padding: 5px 0px;
        border-radius: 2px;
        border:1px solid transparent;
        outline:none;   
    }
    .search:focus{
        outline:none;
        border-bottom:1px solid $brandColor;
    }
    .searchbtn{
        color: $primarytext-clr;
        background-color: $brandColor;
        font-size: 16px;
        font-weight: 400;
        margin-left: 2rem;
    }
    .searchbtn:hover{
        background-color: $brandColor2;
    }



}