@import '../../../../src/scss/variables.scss' ;
.add-booking{
    h4{
        color: $color-primary;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
        font-size: 14px;
        font-weight: 600;
    }
    ::placeholder { 
        color: rgb(209, 205, 205);
        opacity: 1; 
      }
    
    .form-inputsection{
        margin-bottom: 40px;
        width: 90%;
        border-radius: 4px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: 1px solid gray;
        outline-color: transparent;
    }
}