$bg-color-primary: #a1cec865;



$brandColor: #275A53;
$brandColor2: #1a3b37;
$primarytext-clr: #fff;
$thirdtext-clr: rgb(105, 105, 105);
$secondarytext-clr: rgb(214, 214, 214);
$color-primary: red;
$border-color: #ababab;
$black: #000000;