.booking-main {
    img {
        width: 100%;
    }
    form {
        background-color: #f4f4f4;
        .btn {
            background-color: #275a53;
            color: #f1f6f4;
        }
        input,
        textarea {
            border: 1px solid #dddddd;
        }
    }
    h2,
    h3 {
        color: #16322e;
    }
    h1 {
        color: #275a53;
    }
    p {
        color: #747474;
    }
}
